<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do Today</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="/PATH_TO_STATIC_FAVICON/favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="box">
        <h1 id="heading"><%= date %> </h1>
        <%for (var i=0;i<item.length;i++){ %>
        <form action="/delete" method="POST">
            <div class="item"> 
                <input type="checkbox" name="check" onchange="this.form.submit()" value="<%= item[i]._id %>">
                <p><%= item[i].name %></p>
                <input type="hidden" name="hid" value="<%= date %>">
            </div>
        </form> 
        <% } %> 
            
            <form action="/" method="POST" class="item">
                <input type="text" name=item placeholder="New Task" required autocomplete="off">
                <button type="submit" name="list" value="<%= date %>">+</button>
            </form>
    </div>
<footer>
    &copy;RockeR2601
</footer>
    
</body>
</html>